<div id="a-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Science Note</h2>
    <div class="uk-margin">
        <form data-id="{{articles._id}}">
          <textarea class="uk-textarea form-control" type="text" rows="5" id="save-note" placeholder="Note here . . .">
            {{#if note}}
              {{#each this.articles}}
                <p id="note">{{this.note.body}}</p>
              {{/each}}
            {{/if}}
          </textarea>
          <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" id="save" type="button">Save Note</button>
          </p>
        </form>
    </div>
  </div>
</div>