<div id="b-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Science Note</h2>
    <div class="uk-margin">
      <ul>
        <li>
          <p id="note">{{note.body}}</p>
        </li>
      </ul>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
    </p>
  </div>
</div>
