<div id="header">SCIENCE SCRAPES</div>
  <div class="uk-text uk-text-small uk-margin-bottom">The <i>ScienceNews.org</i> Edition</div>
  <div class="uk-button-group">
    <a href="/scrape"><div class="uk-button uk-button-default uk-margin-small-right" id="scrape">Scrape the latest</div></a>
    <a href="/saved"><div class="uk-button uk-button-default uk-margin-small-right" id="view-saved">View Saved Articles</div></a>
    <a href="/"><div class="uk-button uk-button-default" id="return">Show All Articles</div></a>
  </div>
<hr>